@model CreateTestimonialDto
@{
    ViewData["Title"] = "TestimonialCreate";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans İslemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-action="TestimonialCreate" asp-controller="Testimonial">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Referans Formu</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Name">Hakkında Başlık</label>
                                <input type="text" class="form-control" placeholder="Referans Adı Giriniz..." asp-for="Name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Title">Hakkında Başlık</label>
                                <input type="text" class="form-control" placeholder="Referans Başlığı Giriniz..." asp-for="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Comment">Açıklama</label>
                                <textarea rows="5" type="text" class="form-control" placeholder="Yorum Giriniz..." asp-for="Comment"></textarea>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="ImageUrl">Resim Yolu</label>
                                <input type="text" class="form-control" placeholder="Resim Yolu Giriniz..." asp-for="ImageUrl">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Referans Ekle</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

